:root
{
  font-family: 'Varela Round';
}

body
{
  margin: 0;
}

div
{
  user-select: none;
}

.layer
{
  position: absolute;
}

.hide
{
  display: none !important;
}

.center
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center_x
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center_y
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.right
{
  position: absolute;
  right: 0;
}

.left
{
  position: absolute;
  left: 0;
}

.bottom
{
  position: absolute;
  bottom: 0;
}

.fixed
{
  position: fixed !important;
}

.debug_border
{
  outline: 2px solid green;
}

.loading
{
  opacity: 0 !important;
}

.main
{
  width: 61.8%;
  max-width: 61.8%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.source_select
{
  width: 19.1%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

@media screen and (min-width: 825px)
{
  .source_select
  {
    font-size: 1.5rem;
  }
}

.source_select > div
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
  opacity: .381;

  transition: opacity .15 ease-out;
}
.source_select > div:hover
{
  opacity: 1;

  transition: opacity .15 ease-in;
}

.source_select > div > span:nth-child(1)
{
  flex-grow: 1;
  text-align: center;
}

.source_select > div > span:nth-child(2)
{
  flex-grow: 0;
  font-size: 1.5rem;
}

.source_select .selected
{
  opacity: .763;
}

.source
{
  user-select: none;
  max-width: 100%;
}

.sink
{
  user-select: none;
  max-width: 100%;
}

.wrapper
{
  position: relative;
}

.reflect_x
{
  transform: rotateY(180deg);
}

input[type=checkbox]
{
  min-width: 30.9px;
  height: 30.9px;

  cursor: pointer;

  box-shadow: none !important;
}

input[type=range]
{
  max-width: 38.1%;

  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: #fff;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=radio]
{
  min-width: 1.5rem;
  height: 1.5rem;

  box-shadow: none !important;
}

input:focus, .input_focus {
    border-color: rgb(23, 143, 229);
    outline: none;
    box-shadow: 0 0px 1px rgba(23, 143, 229, 0.075) inset, 0 0 8px rgba(23, 143, 229, 0.6);
}

.option > label
{
  flex-grow: 1;

  text-align: center;
  user-select: none;
}

.option > input
{
  flex-grow: 0;
}

.option
{
  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 2%;
  padding-right: 2%;

  color: rgba(0,0,0,.763);
  text-shadow: 1px 1px rgba(255,255,255,.763);
}

.option:hover
{
  background-color: rgba(0,0,0,.236);

  color: white;
  text-shadow: 1px 1px rgba(0,0,0,.381);
}

.option:active
{
  background-color: rgba(0,0,0,.618);

  color: white;
  text-shadow: 1px 1px rgba(0,0,0,.381);
}

.options
{
  position: fixed;
  width: 28vw;
  max-width: 250px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgba(255,255,255,.763);
  border-left: 1px solid rgba(255,255,255,.763);
  outline: 2px solid rgba(0,0,0,.236);

  opacity: 0;
  transition: opacity .15s ease-in;
}

.options:hover
{
  opacity: 1;
  transition: opacity .15s ease-out;
}

.options_lock
{
  position: absolute;
  left: 0;
  top: 0;

  opacity: .381;
  transform: translate(-150%, 25%);
  transition: all .15s ease-in;
}

.options_lock:hover
{
  opacity: 1;
  transform: translate(-150%, 25%) scale(1.236);
  transition: all .15s ease-out;
}

.options_lock_docked
{
  opacity: 1;
  transform: translate(-150%, 25%) scale(1.236);
}

.stat
{
  font-family: 'Varela Round';
}

.spinner
{
  height: 120px;
  width: 120px;
  animation: .67s linear infinite spin;

  user-select: none;

  border: 3px solid skyblue;
  border-top: 3px solid pink;
  border-radius: 50%;
}

.fade_in
{
  animation: .33s ease-in both fade_in;
}

.fade_out
{
  animation: .33s ease-out both fade_out;
}

.visible
{
  opacity: 1 !important;
}

@keyframes fade_out
{
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes fade_in
{
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes spin
{
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  }
}
